doctype html
html
  head
    title=title
    link(rel='icon', type='image/svg+xml', href='/_static_/images/icon.svg')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&Oswald:wght@500&display=swap")
    link(rel='stylesheet', href='/_static_/css/styles.css')
    link(rel="stylesheet", href="/_static_/css/katex.min.css")

  body
    script(src="/_static_/js/katex.min.js")
    script.
      var STACKEDIT_URL="!{STACKEDIT_URL}";
      var STACKEDITOR_URL="!{STACKEDIT_URL}";
    script(src="/_static_/js/mermaid/mermaid.js")
    script.
      mermaid.initialize({logLevel:5, startOnLoad:true});
    script(src="/_static_/js/mathjax/MathJax.js?config=TeX-AMS_HTML", type="text/javascript")
    script(src="/_static_/js/se.js")
    div.cwikcontent
    textarea#rawMarkdown
    div.wikicontent    
    script(src="/_static_/js/layout.js")
    script(src="/_static_/js/editLinkage.js")
    script.
      setupLayout(document, window);

          
