extends layout

block header
  strong
    center Login

block history
  center Recently Viewed

block related
  div.relatedI
  
block structure
  div.structureI

block wikipage
  div.login
   form(action="/_login_", method="POST")
    center#QRcode QR graphic here
    center
      small
        a(href=QRsignCode, id="bchidentity_op_login") login with local app
      
    center
      H2 Manual Entry
    center Challenge
    center
      input#challenge(type="text", name='challenge',readonly='true', value=challenge)
    center Address
    center
      input#addr(name='addr')
    center Signature
    center
      input#sig(name='sig')
    center
      input(type="submit", value="login")
  script(type="text/javascript",src="/_static_/js/qrcode.js")
  script.
    var typeNumber = 12;
    var errorCorrectionLevel = 'L';
    var qr = qrcode(typeNumber, errorCorrectionLevel);
    qr.addData("!{QRsignCode}");
    qr.make();
    document.getElementById('QRcode').innerHTML = qr.createImgTag();
    loginPolling();

block toolBar
  div.editBar
