.lrel {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.irel {
    margin: 0px 0px 0px 1ch;
    padding: 0px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* inject a bigger thing so the hover doesn't change the element size */
.lrel::after {
    margin: 0px;
    content: " ";
    font-weight: bold;
    font-size: 105%;
}

.lrel:hover {
    background-image: linear-gradient(#c0c0c0, #197717,#197717,#c0c0c0);
    background-color: #3d1e0b;
    color: #fca22b;
    overflow: hidden;
}

.lrel:hover .irel {
    color: #fca22b;
    font-weight: bold;
    font-size: 105%;
    margin: 0px;
    overflow: hidden;
}
