html, body
{
    height: 100%;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5
{
    font-family: 'Roboto', sans-serif;
}

.outergrid {
    position: relative;
    height: 100%;
}



.cwikheader {
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0px;
  z-index: 1;
  background: #197717;
  color: #fff;
}
.leftsidebar {
  display: block;
  position: fixed;
  width: 25ch;
  height: 100%;
  margin-top: 30px;
  z-index: 3;
  background: #eeeeee;
  background-image: linear-gradient(#197017, #ffffff);
  color: #fff;
  overflow: hidden;
}
.cwikcontent {
  display: block;
  position: absolute;
  width: 100%;
  margin: 5px;
  z-index: 1;
  background: #ffffff;
  color: #000000;
}

.cwikeditor {
  visibility: hidden;
  display:none;
}

.rawMarkdown {
    display: none;
    visibility: hidden;
}

.cwikmeta {
    visibility: hidden;
    display: none;
}

.cwikheader.muuri-item-dragging {
  z-index: 3;
}
.cwikheader.muuri-item-releasing {
  z-index: 2;
}
.cwikheader.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.VertA {
    margin-top: 0px;
    margin: 0px;
  display: block;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 4;
}

.VertB {
    margin-left:25ch;
    margin-top:30px;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 100ch;
  height: 100%;
  z-index: 2;
}


.sidebargrid {
    position: relative;
    height: 100%;
}

.headergrid {
    position: relative;
    height: 100%;
}

.history {
  display: block;
  position: absolute;
  width: 95%;
  margin-left: 3px;
  margin-top:5px;
  z-index: 2;
  color: #000000;
  border-radius: 20px;
  border: 2px solid #197717;
  background: #d0d0d0;
  color: #000000;
  text-align: center;
}

.related {
  display: block;
  position: absolute;
  width: 95%;
  margin-left: 3px;
  margin-top:5px;
  z-index: 2;
  color: #000000;
  border-radius: 20px;
  border: 2px solid #197717;
  background: #d0d0d0;
  color: #000000;
  text-align: center;
}

.structure {
  display: block;
  position: absolute;
  width: 95%;
  margin-left: 3px;
  margin-top:5px;
  z-index: 2;
  border-radius: 20px;
  border: 2px solid #197717;
  background: #d0d0d0;
  color: #000000;
}

#structureI {
    margin: 5px;
    font-size: 90%;
}

.toolBar {
  display: block;
  position: absolute;
  height:100%;
  width: 200px;
  z-index: 2;
  color: #ffffff;
  line-height: 30px;
  text-align:center;
}
.userBar {
  display: block;
  position: absolute;
  height:30px;
  width: 50%;
  z-index: 2;
  color: #ffffff;
  line-height: 30px;
  text-align:right;
  align: right;
}

.bchlogo {
  display: block;
  position: absolute;
  height:100%;
  width: 80px;
  z-index: 2;
  color: #ffffff;
}

#bchHeaderFlag
{
    height: 30px;
    margin-left: 0%;
}

.headerContent {
  display: block;
  position: absolute;
  height:100%;
  z-index: 2;
  color: #ffffff;
  line-height: 30px;
  text-align:center;
}

.wikicontent {
    height:100%;
}

.toc_h2 {
    margin-left: 20px;
}

.notification {
    font-size: 140%;
    background-color: orange;
    z-index: 10;
    visibility: visible;
}

.headerText {
    font-size: 125%;
}

#mdData {
    display: none;
}

input#challenge
{
    text-align:center;
    width: 99%;
}
input#addr
{
    text-align:center;
    width: 99%;
}
input#sig
{
    text-align:center;
    width: 99%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: 2px solid #464;
    background: #F3F3F3;
    font-weight: bold;
}

td {
    border: 1px solid #CCC;
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }  
