@import "tocmenu.css";
@import "relatedmenu.css";
@import "hismenu.css";
@import "searchmenu.css";
@import "content.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body
{
    height: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    html, body
    {
        font-size: 150%;
    }

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    html, body
    {
        font-size: 125%;
    }
}


h1, h2, h3, h4, h5
{
    font-family: 'Abril Fatface', cursive;
}

svg
{
    font-family: initial;
    font-size: initial;
}


br.clear {
    clear: both;
}

hr {
    display: block;
    margin: 5px 0px;
    overflow: hidden;
    border: none;

    background-image: linear-gradient(to right, #ccffcc, #207020, #207020, #ffffff);
    height: 5px;
}

.outergrid {
    position: relative;
    height: 100%;
}

#openEP, #closeEP, #diffEP, #commitMenuItem {
        background: black;
}


#cwikheader {
    display: block;
    height: 50px;
    margin: 0px;
    background-color: #00bfb2;
    background-image: linear-gradient(250deg, #00bfb2 0%, #028090 74%);
    color: #fff;
    margin-top: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 4;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    #cwikheader {
        background-color: #00bfb2;
        background-image: linear-gradient(to left, #00bfb2 0%, #028090 74%);
    }
}

.cwikcontent {
    display: block;
    position: absolute;
    float: center;
    width: 95%;
    padding: 7.5px;
    z-index: 1;
    background: #f8f8f8;
    color: #000000;
    overflow-x: hidden;
}

#rawMarkdown {
    visibility: hidden;
    display:none;
}


.cwikmeta {
    visibility: hidden;
    display: none;
}


.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

#LogInOutDiv {
    position:relative;
    display: inline-block;
    vertical-align: top;
}


.horizMenu:hover {
    color: #fca22b;
    cursor: pointer;
}

#sidebarAndContent {
    margin-top:30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: #fff;
    float: left;

}
.leftsidebar {
    flex-shrink:0;
    width: 25ch;
    height: 100%;
    z-index: 3;
    color: #fff;
    overflow: visible;
    float: left;

}


#lsb {
    position: fixed;
    overflow: visible;
}

#sideBarButton {
    position: fixed;
    left: 65px;
    top: 10px;
    z-index: 6;
    background-color: transparent;
}

#pdfexport {
    position: fixed;
    left: 97.5%;
    top: 10px;
    z-index: 6;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1250px) {
    #pdfexport {
        left: 96%;
        top: 10px;
    }
}


.VertB {
    float: left;
    max-width: 90ch;
    width: 100%;
    height: 100%;
    vertical-align: top;
    z-index: 2;
}


#sidebargrid {
    position: fixed;
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    color: #fff;
    width: 25ch;
    height: 100vh !important;
    overflow-y: scroll;
}
@media screen and (max-width: 1024px) {
    #sidebargrid {
        width: 100% !important;
        height: 75vh !important;
        background-image: linear-gradient(to left, #00bfb2 0%, #028090 74%);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent  white;
  }

  *::-webkit-scrollbar {
    width: 7.5px;
  
  }
  *::-webkit-scrollbar-track {
    background: transparent;

  }
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 2px solid#028090;
  }


.history {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #197717;
    background: #d0d0d0;
    color: #000000;
    text-align: center;
}

.related {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #197717;
    background: #d0d0d0;
    color: #000000;
    text-align: center;
}

.structure {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    border-radius: 8px;
    border: 2px solid #197717;
    background: #d0d0d0;
    color: #000000;
}

.sbBubble {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top: 5px;
    z-index: 2;
    color: #f8f8f8;
    text-align: inherit;
    border-bottom: 1px solid navy
}
@media screen and (max-width: 767px) {
    .sbBubble {
        border-bottom: none
    }
}

#structureI {
    margin: 0.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}


#relatedI {
    margin: 1.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}


#historyI {
    margin: 0.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}



.toolBar {
    display: inline-block;
    position: absolute;
    height:100%;
    width: 24ch;
    z-index: 5;
    color: #ffffff;
    line-height: 30px;
    text-align:center;
}

#editBar {
    display: inline-block;
    position: fixed;
    z-index: 6;
}

#userBar {
    display: inline-block;
    z-index: 5;
    color: #ffffff;
    line-height: 30px;
    vertical-align: middle;
}

#EpBar {
    display: inline-block;
    position: relative;
    z-index: 6;
    color: #ffffff;
    line-height: 30px;
    vertical-align: top;
    margin-top: 1px;
    height: 20px;
}

#searchBarPos {
    display: inline-block;
    z-index: 5;
    height: 30px;
    color: #ffffff;
}

#searchTextPositioner {
    display: inline-block;
    position: relative;
}

#searchResults {
    min-height: 70px;
}

#searchButton {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    vertical-align: middle;
}

#searchText {
    background: white;
    color: #111111;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
    line-height: 21px !important;
}

#searchText::placeholder {
    color: white;
}

#searchText:focus {
    background: white;
    color: #111111;
    height: 100%;
    padding-top: 2px;
}

#hiddenSubmit {
    display: none;
}


#searchButton:hover {
    cursor: pointer;
    vertical-align: center;
}

#bchHeaderCoin
{
    display: inline-block;
    position: fixed;
    left: 10px;
    top: 5px;
    z-index: 6;
    background-color: transparent;
    width: 2.75rem;
    margin-left: 0%;
}
#bchHeaderCoin:hover
{
    width: 3.25rem;
    margin-left: 0%;
    cursor: pointer;
}

#titleMenus {
    display: inline-block;
    position: fixed;
    height: 30px;
    right: 5ch;
    z-index: 6;
    color: #ffffff;
    line-height: 30px;
    overflow: hidden;
}

#headerPageTitle {
    display: inline-block;
    position: absolute;
    z-index: 5;
    font-size: 24px;
    left: 15%;
    top: 10px;
}
@media screen and (max-width: 850px) {
    #headerPageTitle {
        font-size: 19px;
        left: 27.5%;
        top: 20px;
    }
}

.notification {
    font-size: 140%;
    position: fixed;
    width: 100%;
    background-color: orange;
    z-index: 10;
    display: none;
}

.headerText {
    font-size: 1.7rem;
    margin-top: 2rem;
    border-top: 1px solid navy
}
@media screen and (max-width: 1024px) {
    .headerText {
        margin-top: 0.5rem;
        border-top: none;
    }
}
@media screen and (max-width: 767px) {
    .headerText {
        font-size: 1.5rem;
    }
}

#mdData {
    display: none;
}

input#challenge
{
    text-align:center;
    width: 99%;
}
input#addr
{
    text-align:center;
    width: 99%;
}
input#sig
{
    text-align:center;
    width: 99%;
}


#editProposal {
    background: #309030;
    color: #ffffff;
    height: 20px;
    width: 20ch;
}

/* new media */

#mediaFigure {

}

#dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px dashed #ccc;
  border-radius: 20px;
  min-width: 500px;
  min-height: 400px;
  font-family: sans-serif;
  padding: 20px;
}

#dropArea.highlight {
  border-color: purple;
}

#fileElem {
  display: none;
}
/* @media screen and (max-device-width: 640px){ */

.searchTextPortraitPositioner {
        display: inline-block;
        width: 90%;
        margin-right: auto;
        margin-left: 5%;
        margin-bottom: 5px;
        text-align: center;
    }
    
.searchTextPortrait {
        font-size: 100%;
        width: 100%;
        text-align: center;
    }


#register {
    display: inline-block;
    width:45%;
    vertical-align: top;
}
#login {
    display: inline-block;
    width:45%;
    vertical-align: top;
}

#login h2 {
display: block;
margin-left: auto;
margin-right: auto;
}

#bchidentity_op_reg {
    margin: auto;
}

#RegQRcode,#LoginQRCode {
display: block;
margin-left: auto;
margin-right: auto;
}


/* nav menu will auto-close so it should cover over text */
@media (orientation: portrait) {
    .leftsidebar {
        display: none;
        position: fixed;
    }

    #sideBarButton {
       width: 64px;
       height: 64px;
       top: 5px;
    }

    .VertB {
    }

    #sidebarAndContent {
        margin-top:70px;
        display: block;
    }

    #cwikheader {
        height: 70px;
    }

    #bchHeaderCoin {
  left: 5px;
  z-index: 6;
  width: 4rem;
  margin-left: 0%;
}

.toolBar {
    width: 5ch;
    left: 60px;
  z-index: 5;
  color: #ffffff;
  line-height: 60px;
  text-align:center;
}

#userBar {
  line-height: 60px;
}

/* TO DO, make this a dropdown */
#EpBar {
    display: none;
    line-height: 60px;
}

#bchHeaderCoin:hover
{
    width: 4rem;
}


}

@media screen and (max-width: 850px) {
    #pdfexport {
        left: 87.5% !important;
        width: 50px !important;
        height: 50px !important;
    }
}
