.lsch {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.isch {
    margin: 0px 0px 0px 1ch;
    padding: 0px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* inject a bigger thing so the hover doesn't change the element size */
.lsch::after {
    margin: 0px;
    content: " ";
    font-weight: bold;
    font-size: 105%;
}

.lsch:hover {
    /* background-image: linear-gradient(#c0c0c0, #197717,#197717,#c0c0c0);
    background-color: #3d1e0b; */
    /* color: #805000; */
    overflow: hidden;
    cursor: pointer;
    background-image: linear-gradient(#cecece, #b8b8b8,#b8b8b8,#c0c0c0);
}

.lsch:hover {
    /* color: #805000; */
    font-weight: bold;
    /* font-size: 105%; */
    /* margin: 0px; */
    overflow: hidden;
    cursor: pointer;
}
